
<fieldset class="fieldset-container">
  <legend class="flexcol-legend">Żetony przeciwności</legend>
  <div class="resource grid-span-3 flexrow">
    <label for="system.adversity" class="resource-label">
      Zaczynasz grę, mając
      3 żetony przeciwności.
      Zyskujesz jeden za
      każdy niezdany test
    </label>
    <div class="resource-content2 fr">
      <input type="number" name="system.adversity" value="{{system.adversity}}" data-dtype="Number"/>
    </div>
  </div>
</fieldset>
